.sc-title{
    text-align: center; 
    font-size: 42px;
    font-family: $font-en; 
    line-height: 1;

    .sc-intro &{
    margin: 85px 0 67px;
    }

    .sc-recommend &{
        margin: 107px 0 60px; 
    }

    .sc-review &{
        margin: 27px 0 65px;
    }
}


