@mixin elip {
    display: block; 
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}


@mixin elip-multi($line,$lineHeight){ 
    text-overflow: ellipsis; 
    overflow: hidden; 
    line-height: $lineHeight; 
    max-height: $lineHeight*$line; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: $line; 
    display: -webkit-box; 
 }

